# 빅분기 기출 변형 #7

In [3]:
# 여러줄 출력 가능
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 1 유형

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p1.csv   
데이터 설명 : 학생 15명의 국어,수학,영어,과학 시험 점수이다. 각 학생은 4과목 중 3과목을 선택해서 시험봤다.

### 1-1) 국어,수학,영어,과학 과목 중 가장 많은 학생들이 응시한 시험을 선택하고 해당과목의 점수를 표준화 했을 때 가장 큰 표준화 점수를 구하여라

In [4]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p1.csv')
df.head(5)

     학생    국어    수학    영어    과학
0  ID_0  63.0   NaN  79.0  84.0
1  ID_1  91.0  93.0   NaN  73.0
2  ID_2  59.0  55.0   NaN  56.0
3  ID_3  71.0  83.0  82.0   NaN
4  ID_4  62.0  72.0  56.0   NaN

In [11]:
df.info()
df.nunique()
df.isnull().sum() # 국어가 가장 null 이 적으므로 가장 많이 응시한 시험

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학생      15 non-null     object
 1   국어      13 non-null     float64
 2   수학      12 non-null     float64
 3   영어      11 non-null     float64
 4   과학      9 non-null      float64
dtypes: float64(4), object(1)
memory usage: 732.0+ bytes

학생    15
국어    12
수학    10
영어     9
과학     9
dtype: int64

학생    0
국어    2
수학    3
영어    4
과학    6
dtype: int64

In [14]:
df['국어'].std()

12.379677308250415

In [26]:
df.drop('학생', axis=1).count().idxmax()

'국어'

In [34]:
st = df['국어']
stdd = (st - st.mean()) / st.std()
stdd.max()

# 표본집단의 표준편차를 구해야 하므로 std(ddof=1) 로 (ddof 기본값 1) 표본 표준편차를 구함

1.6466192839315847

In [35]:
import numpy as np
sub = df.iloc[:,1:].count().idxmax()
sub
st2 = df[sub]
st2

r = ((st2 - st2.mean()) / st2.std(ddof=0)).max()  # 모표준편차 ddof=0
print(r)

'국어'

0     63.0
1     91.0
2     59.0
3     71.0
4     62.0
5      NaN
6     83.0
7     85.0
8     96.0
9     79.0
10    68.0
11    61.0
12    86.0
13     NaN
14    79.0
Name: 국어, dtype: float64

1.713855688712825

In [37]:
# 결측치 처리후 다시
st_n = st.fillna(st.mean())
st_n

0     63.000000
1     91.000000
2     59.000000
3     71.000000
4     62.000000
5     75.615385
6     83.000000
7     85.000000
8     96.000000
9     79.000000
10    68.000000
11    61.000000
12    86.000000
13    75.615385
14    79.000000
Name: 국어, dtype: float64

In [69]:
df_st = df.loc[:, df.columns != '학생'].copy()
df_st.head(1)
for col in df_st.columns:
    df_st[col] = df_st[col].fillna(df_st[col].mean())    
df_st

     국어  수학    영어    과학
0  63.0 NaN  79.0  84.0

           국어     수학    영어         과학
0   63.000000  74.25  79.0  84.000000
1   91.000000  93.00  79.0  73.000000
2   59.000000  55.00  79.0  56.000000
3   71.000000  83.00  82.0  75.777778
4   62.000000  72.00  56.0  75.777778
5   75.615385  69.00  88.0  96.000000
6   83.000000  92.00  69.0  75.777778
7   85.000000  74.25  83.0  66.000000
8   96.000000  75.00  86.0  75.777778
9   79.000000  56.00  90.0  75.777778
10  68.000000  74.25  69.0  62.000000
11  61.000000  56.00  79.0  76.000000
12  86.000000  96.00  79.0  87.000000
13  75.615385  89.00  98.0  82.000000
14  79.000000  55.00  69.0  75.777778

In [73]:
Q1 = df_st.quantile(0.25)
Q3 = df_st.quantile(0.75)
IQR = Q3 - Q1

df_ex1 = df_st[~((df_st < (Q1 - 1.5 * IQR)) | (df_st > (Q3 + 1.5 * IQR))).any(axis=1)]
df_ex1

           국어     수학    영어         과학
0   63.000000  74.25  79.0  84.000000
1   91.000000  93.00  79.0  73.000000
3   71.000000  83.00  82.0  75.777778
6   83.000000  92.00  69.0  75.777778
8   96.000000  75.00  86.0  75.777778
9   79.000000  56.00  90.0  75.777778
11  61.000000  56.00  79.0  76.000000
13  75.615385  89.00  98.0  82.000000
14  79.000000  55.00  69.0  75.777778

In [88]:
Q1 = df_st.quantile(0.25)
Q3 = df_st.quantile(0.75)
IQR = Q3 - Q1

# df_ex2 = df_st[~((df_st < (Q1 - (IQR * 1.5))) | (df_st > (Q3 + (IQR * 1.5)))).any(axis=1)]
df_ex2 = df_st[~((df_st < (Q1 - (IQR * 1.5))) | (df_st > (Q3 + (IQR * 1.5))))].dropna()
df_ex2

           국어     수학    영어         과학
0   63.000000  74.25  79.0  84.000000
1   91.000000  93.00  79.0  73.000000
3   71.000000  83.00  82.0  75.777778
6   83.000000  92.00  69.0  75.777778
8   96.000000  75.00  86.0  75.777778
9   79.000000  56.00  90.0  75.777778
11  61.000000  56.00  79.0  76.000000
13  75.615385  89.00  98.0  82.000000
14  79.000000  55.00  69.0  75.777778

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2.csv  
32개 변수의 수치값

### 1-2) 32개의 변수간 상관관계를 확인 했을 때, var_11 컬럼과 상관계수의 절댓값이 가장 큰 변수를 찾아 해당 변수의 평균값을 구하여라

In [91]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_.csv')
df.head(5)

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32
0,-0.335864,-2.425701,0.452851,-1.381924,-0.425591,-1.461498,-0.417082,-0.944226,-0.351224,1.474046,...,1.715714,0.300227,0.439828,-0.094772,1.551995,3.308446,-0.391377,1.963829,-1.458605,-0.348652
1,0.803535,-0.699433,0.095579,0.788053,-0.267674,-0.370746,0.636034,-1.674584,-0.058465,-1.188973,...,-1.348879,-0.899480,-1.271886,0.333734,-0.373565,-2.091508,-0.715245,-0.688441,0.910927,-0.746899
2,-0.408470,-0.361105,-0.857278,0.338294,2.317821,-0.099928,0.557053,-0.847932,0.973471,0.101203,...,-0.388353,0.918553,-1.984422,0.385055,1.161414,-1.280253,2.831802,-0.953771,-0.228466,0.766254
3,-0.690599,0.777928,-0.079963,0.164086,1.721702,0.146761,-0.988636,0.885344,0.647053,0.674609,...,0.337074,-1.406224,-0.699728,-0.836068,-0.226315,1.260893,-0.781630,-0.219995,0.871289,0.017578
4,0.179819,-0.668267,0.381849,-0.884196,0.758519,-1.026190,0.986227,-1.663167,2.290551,0.564845,...,-0.700137,-0.153825,-1.835313,0.182131,0.890247,0.024791,1.489955,1.276357,-0.285144,1.066486

In [92]:
df.info()
df.nunique()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   var_1   1000 non-null   float64
 1   var_2   1000 non-null   float64
 2   var_3   1000 non-null   float64
 3   var_4   1000 non-null   float64
 4   var_5   1000 non-null   float64
 5   var_6   1000 non-null   float64
 6   var_7   1000 non-null   float64
 7   var_8   1000 non-null   float64
 8   var_9   1000 non-null   float64
 9   var_10  1000 non-null   float64
 10  var_11  1000 non-null   float64
 11  var_12  1000 non-null   float64
 12  var_13  1000 non-null   float64
 13  var_14  1000 non-null   float64
 14  var_15  1000 non-null   float64
 15  var_16  1000 non-null   float64
 16  var_17  1000 non-null   float64
 17  var_18  1000 non-null   float64
 18  var_19  1000 non-null   float64
 19  var_20  1000 non-null   float64
 20  var_21  1000 non-null   float64
 21  var_22  1000 non-null   float64
 22  var_23  1000 non-null   float64
 23  var_24  1000 non-null   float64
 24  var_25  1000 non-null   float64
 25  var_26  1000 non-null   float64
 26  var_27  1000 non-null   float64
 27  var_28  1000 non-null   float64
 28  var_29  1000 non-null   float64
 29  var_30  1000 non-null   float64
 30  var_31  1000 non-null   float64
 31  var_32  1000 non-null   float64
dtypes: float64(32)
memory usage: 250.1 KB

var_1     1000
var_2     1000
var_3     1000
var_4     1000
var_5     1000
var_6     1000
var_7     1000
var_8     1000
var_9     1000
var_10    1000
var_11    1000
var_12    1000
var_13    1000
var_14    1000
var_15    1000
var_16    1000
var_17    1000
var_18    1000
var_19    1000
var_20    1000
var_21    1000
var_22    1000
var_23    1000
var_24    1000
var_25    1000
var_26    1000
var_27    1000
var_28    1000
var_29    1000
var_30    1000
var_31    1000
var_32    1000
dtype: int64

var_1     0
var_2     0
var_3     0
var_4     0
var_5     0
var_6     0
var_7     0
var_8     0
var_9     0
var_10    0
var_11    0
var_12    0
var_13    0
var_14    0
var_15    0
var_16    0
var_17    0
var_18    0
var_19    0
var_20    0
var_21    0
var_22    0
var_23    0
var_24    0
var_25    0
var_26    0
var_27    0
var_28    0
var_29    0
var_30    0
var_31    0
var_32    0
dtype: int64

In [97]:
df_corr = df.corr()
df_corr

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32
var_1,1.000000,-0.087788,0.098449,-0.060375,0.083610,0.003853,-0.089707,-0.050106,-0.165340,-0.203172,...,-0.052767,-0.074634,0.054104,-0.099919,0.205711,-0.186234,-0.048872,-0.025322,-0.021629,0.004324
var_2,-0.087788,1.000000,0.066169,-0.076149,-0.055991,-0.094251,0.014567,0.153364,-0.034140,0.028548,...,-0.303067,-0.101419,-0.114504,-0.030543,0.129521,-0.110649,-0.098604,0.130086,0.041598,-0.035552
var_3,0.098449,0.066169,1.000000,-0.166786,-0.267350,-0.032349,-0.065895,-0.224401,-0.281241,-0.196648,...,-0.135933,-0.027891,-0.033315,0.075757,-0.112591,-0.320163,0.027886,-0.098503,0.085594,-0.117049
var_4,-0.060375,-0.076149,-0.166786,1.000000,0.346105,-0.105907,0.144750,0.243483,0.042252,0.153195,...,-0.075356,0.165755,0.104608,-0.051649,-0.478468,-0.067272,0.043100,-0.083239,-0.097702,-0.190563
var_5,0.083610,-0.055991,-0.267350,0.346105,1.000000,-0.144358,0.014307,0.149492,0.302649,-0.043603,...,0.068837,0.109559,-0.325500,-0.013911,-0.153459,0.007451,0.195033,0.168937,0.024653,0.096383
var_6,0.003853,-0.094251,-0.032349,-0.105907,-0.144358,1.000000,0.092660,0.011888,-0.130892,-0.033026,...,-0.008197,0.193006,0.128548,0.131439,-0.024077,0.089880,-0.263138,-0.127865,0.092898,0.093814
var_7,-0.089707,0.014567,-0.065895,0.144750,0.014307,0.092660,1.000000,0.090940,0.160296,-0.298340,...,-0.083899,-0.135470,-0.148516,-0.007785,0.052570,0.124596,0.225388,0.081067,-0.226600,0.004098
var_8,-0.050106,0.153364,-0.224401,0.243483,0.149492,0.011888,0.090940,1.000000,-0.105647,0.201985,...,-0.175236,-0.043464,0.236578,-0.164482,-0.154351,0.069788,0.074242,-0.139009,-0.122961,-0.160835
var_9,-0.165340,-0.034140,-0.281241,0.042252,0.302649,-0.130892,0.160296,-0.105647,1.000000,0.151154,...,0.064555,-0.199498,-0.287107,0.229811,-0.213949,0.039210,-0.045121,0.167211,0.070973,0.124148
var_10,-0.203172,0.028548,-0.196648,0.153195,-0.043603,-0.033026,-0.298340,0.201985,0.151154,1.000000,...,-0.004693,-0.003408,0.106869,-0.008090,-0.079401,0.164048,-0.056194,-0.061844,-0.152810,0.145709
var_11,0.311209,-0.193347,0.195323,-0.163446,-0.105060,-0.086658,-0.155746,-0.227340,-0.186233,-0.159161,...,0.199264,-0.028243,-0.139099,-0.057167,0.173340,-0.392672,-0.203869,0.243578,-0.167667,0.024758
var_12,0.115311,0.166974,0.003620,0.208998,-0.042348,-0.025100,-0.062303,-0.078236,0.042523,0.166736,...,0.000764,0.021441,-0.069994,-0.316512,-0.015040,0.019495,0.100841,-0.063776,0.027528,0.185885
var_13,0.000293,0.133772,-0.029609,-0.042025,-0.015647,-0.037278,-0.067693,0.142658,-0.067776,-0.046856,...,-0.034633,-0.057478,-0.156219,-0.190155,0.109572,0.038342,-0.086722,-0.148449,0.027827,-0.259980
var_14,-0.078303,-0.199927,0.370165,-0.058752,-0.226669,0.089518,-0.008896,-0.005766,-0.199883,-0.030056,...,-0.212233,-0.069120,0.281347,-0.072213,-0.253312,-0.189651,0.051023,-0.260963,0.144435,0.110670
var_15,0.090321,-0.262271,-0.192983,-0.067242,0.023020,0.082125,-0.023132,-0.260515,0.216343,-0.024136,...,0.237310,0.174519,-0.141266,0.114134,0.185320,-0.126962,-0.085375,-0.061012,0.102882,0.042503
var_16,0.049931,-0.129856,-0.133772,-0.103105,-0.054757,-0.253285,-0.169967,-0.164910,-0.016935,0.256980,...,0.151794,-0.057928,-0.198343,0.006828,0.123986,-0.195593,-0.005929,0.190510,-0.117948,-0.004263
var_17,-0.219323,0.119741,0.086072,-0.045118,0.160878,-0.040181,-0.079596,-0.037575,0.032933,0.076280,...,0.215859,0.100484,-0.015392,-0.288071,0.216551,-0.049908,0.026335,0.161652,-0.092120,0.063077
var_18,0.007012,0.083508,0.010713,-0.100751,-0.181925,0.081626,0.441102,0.009629,-0.082789,0.026994,...,-0.180883,-0.130375,-0.111465,-0.028158,-0.043224,-0.125747,0.005715,-0.032911,-0.096631,-0.022595
var_19,0.040068,-0.014739,0.384664,0.205756,0.158527,-0.062039,-0.117545,0.044124,-0.236885,0.022816,...,-0.213931,-0.169711,0.132921,-0.054532,-0.332275,-0.263854,-0.035313,0.047104,-0.243682,-0.017941
var_20,-0.099443,0.040244,-0.051053,-0.078548,-0.082614,0.117169,0.121271,0.111038,-0.105422,0.005335,...,0.029082,-0.092458,0.059910,-0.105008,0.025152,0.026659,0.152443,0.184782,-0.207985,-0.130732
var_21,-0.143610,0.242303,-0.091219,-0.043306,-0.354418,-0.105053,-0.010879,-0.063145,0.046565,-0.056997,...,-0.131674,-0.183882,0.207166,0.101836,-0.139722,-0.029921,-0.349366,0.026465,0.110157,-0.109691
var_22,-0.161738,-0.032186,0.067679,0.165560,-0.068589,0.008213,0.027385,0.127541,-0.064862,0.003337,...,0.123420,0.015359,-0.068944,0.290785,-0.241743,0.152931,0.026355,-0.145123,0.186231,-0.184674
var_23,-0.052767,-0.303067,-0.135933,-0.075356,0.068837,-0.008197,-0.083899,-0.175236,0.064555,-0.004693,...,1.000000,0.135113,-0.087227,-0.168524,0.057622,0.212024,-0.037171,0.119282,0.271936,-0.036008
var_24,-0.074634,-0.101419,-0.027891,0.165755,0.109559,0.193006,-0.135470,-0.043464,-0.199498,-0.003408,...,0.135113,1.000000,-0.124249,0.122056,-0.149966,-0.048546,0.055830,0.101763,0.211832,-0.198287
var_25,0.054104,-0.114504,-0.033315,0.104608,-0.325500,0.128548,-0.148516,0.236578,-0.287107,0.106869,...,-0.087227,-0.124249,1.000000,-0.208934,-0.004251,0.048590,-0.094092,-0.240780,-0.087841,0.023799
var_26,-0.099919,-0.030543,0.075757,-0.051649,-0.013911,0.131439,-0.007785,-0.164482,0.229811,-0.008090,...,-0.168524,0.122056,-0.208934,1.000000,-0.119208,0.004413,0.039813,0.113475,0.114676,-0.020507
var_27,0.205711,0.129521,-0.112591,-0.478468,-0.153459,-0.024077,0.052570,-0.154351,-0.213949,-0.079401,...,0.057622,-0.149966,-0.004251,-0.119208,1.000000,0.201651,0.078526,-0.089772,-0.374903,0.283650
var_28,-0.186234,-0.110649,-0.320163,-0.067272,0.007451,0.089880,0.124596,0.069788,0.039210,0.164048,...,0.212024,-0.048546,0.048590,0.004413,0.201651,1.000000,0.011603,0.122435,0.020520,0.119890
var_29,-0.048872,-0.098604,0.027886,0.043100,0.195033,-0.263138,0.225388,0.074242,-0.045121,-0.056194,...,-0.037171,0.055830,-0.094092,0.039813,0.078526,0.011603,1.000000,-0.165244,-0.062447,0.111495
var_30,-0.025322,0.130086,-0.098503,-0.083239,0.168937,-0.127865,0.081067,-0.139009,0.167211,-0.061844,...,0.119282,0.101763,-0.240780,0.113475,-0.089772,0.122435,-0.165244,1.000000,-0.033453,-0.099797
var_31,-0.021629,0.041598,0.085594,-0.097702,0.024653,0.092898,-0.226600,-0.122961,0.070973,-0.152810,...,0.271936,0.211832,-0.087841,0.114676,-0.374903,0.020520,-0.062447,-0.033453,1.000000,-0.214739
var_32,0.004324,-0.035552,-0.117049,-0.190563,0.096383,0.093814,0.004098,-0.160835,0.124148,0.145709,...,-0.036008,-0.198287,0.023799,-0.020507,0.283650,0.119890,0.111495,-0.099797,-0.214739,1.000000

In [113]:
# 절댓값 구하고, index가 'var_11'이 아닌 것만 필터링
temp = df_corr['var_11'].abs()
temp
max_index = temp[temp.index != 'var_11'].idxmax()
max_index

var_1     0.311209
var_2     0.193347
var_3     0.195323
var_4     0.163446
var_5     0.105060
var_6     0.086658
var_7     0.155746
var_8     0.227340
var_9     0.186233
var_10    0.159161
var_11    1.000000
var_12    0.126660
var_13    0.097608
var_14    0.039606
var_15    0.090952
var_16    0.327004
var_17    0.108236
var_18    0.170196
var_19    0.135727
var_20    0.082657
var_21    0.116214
var_22    0.193929
var_23    0.199264
var_24    0.028243
var_25    0.139099
var_26    0.057167
var_27    0.173340
var_28    0.392672
var_29    0.203869
var_30    0.243578
var_31    0.167667
var_32    0.024758
Name: var_11, dtype: float64

'var_28'

In [114]:
df[max_index].mean()

-0.06289356546077182

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3.csv

### 1-3) var_6 컬럼의 1,3사분위수 각각 IQR의 1.5배 벗어난 이상치의 숫자를 구하라

In [115]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3.csv')
df.head(5)

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12
0,-0.401584,0.007198,-0.134910,-0.419514,-0.686331,-1.174550,-0.499150,-0.557510,0.357347,0.844209,0.082097,0.475098
1,1.064622,-0.531247,0.571185,-0.762243,-1.456043,0.355432,0.880010,0.523183,-0.141733,0.301472,0.840299,-0.045113
2,0.900195,-1.148496,-0.718437,-2.315266,-0.755505,0.630923,0.586027,0.086497,-0.381657,-1.602532,1.566340,-0.654105
3,1.199227,-0.114200,0.101536,-1.851971,-0.672844,0.796077,0.644246,-0.836296,-1.707074,0.376281,1.303967,1.228015
4,0.607393,1.675917,1.063759,-0.799493,-0.959568,-0.103007,-0.245984,-0.059492,0.293592,-0.517044,0.100772,0.403833

In [121]:
df6 = df['var_6']

Q3 = df6.quantile(0.75)
Q1 = df6.quantile(0.25)
IQR = Q3 - Q1

ex1 = Q1 - 1.5*IQR 
ex3 = Q3 + 1.5*IQR

df6[(df6 < ex1) | (df6 > ex3)].count()

8

# 2 유형

제주업종별카드이용정보 : https://www.jejudatahub.net/data/view/data/1048  

후처리
train = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_train2.csv  
test = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_test2.csv  
종속변수 :이용금액  
평가지표 : rmse (분류문제)

In [402]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_train2.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_test2.csv')

display(train.head(2))
test.head(2)

        ID      연월  업종명 이용자구분    성별  이용자수   이용건수        이용금액
0  ID_5020  202201  여관업    법인  알수없음  7693  12105  3049021809
1  ID_5021  202201  여관업  제주도민    남성  3990   4291   294163241

        ID      연월         업종명 이용자구분    성별    이용자수    이용건수
0  ID_2575  201911     한식 음식점업  제주도민    여성  153363  163462
1  ID_6637  202305  건강보조식품 소매업    법인  알수없음     136     144

In [403]:
# import sklearn.preprocessing
# dir(sklearn.preprocessing)
from sklearn.preprocessing import MinMaxScaler
# import scipy.stats
# dir(scipy.stats)
from scipy.stats import zscore
# import sklearn.metrics
# dir(sklearn.metrics)
from sklearn.metrics import mean_squared_error # mse -> sqrt 루트 씌워서 rmse (x ** 0.5) # rmse 는 분류 문제 -> 랜덤포레스트 분류
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [404]:
train.shape
test.shape

(2245, 8)

(5020, 7)

In [405]:
target = train['이용금액']
train = train.drop(['이용금액', 'ID'], axis=1)
test = test.drop('ID', axis=1)

target.shape
train.shape
test.shape

(2245,)

(2245, 6)

(5020, 6)

In [406]:
# help(pd.concat)

In [407]:
# 전처리를 위한 데이터 통합 2245 + 5020
total = pd.concat([train, test], ignore_index=True) 
total.head(2)

train.shape
test.shape
total.shape

       연월  업종명 이용자구분    성별  이용자수   이용건수
0  202201  여관업    법인  알수없음  7693  12105
1  202201  여관업  제주도민    남성  3990   4291

(2245, 6)

(5020, 6)

(7265, 6)

In [408]:
target.info()
target.value_counts()
target.isnull().sum()

<class 'pandas.core.series.Series'>
RangeIndex: 2245 entries, 0 to 2244
Series name: 이용금액
Non-Null Count  Dtype
--------------  -----
2245 non-null   int64
dtypes: int64(1)
memory usage: 17.7 KB

이용금액
590900        2
3049021809    1
899124703     1
44642665      1
27813130      1
             ..
45115300      1
222196930     1
101570665     1
71471760      1
41815300      1
Name: count, Length: 2244, dtype: int64

0

In [409]:
total.info()
total.nunique()
total.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7265 entries, 0 to 7264
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연월      7265 non-null   int64
 1   업종명     7265 non-null   object
 2   이용자구분   7265 non-null   object
 3   성별      7265 non-null   object
 4   이용자수    7265 non-null   int64
 5   이용건수    7265 non-null   int64
dtypes: int64(3), object(3)
memory usage: 340.7+ KB

연월         70
업종명        15
이용자구분       7
성별          3
이용자수     3563
이용건수     3595
dtype: int64

연월       0
업종명      0
이용자구분    0
성별       0
이용자수     0
이용건수     0
dtype: int64

## 이상치 제거, 스케일링  
- 날짜타입 변환
- dtype 별로 수치형, 범주형 구분

### 날짜변환

In [410]:
# import datetime
# dir(datetime.date)
# help(datetime.date)
# help(pd.to_datetime)

In [411]:
total['date'] = pd.to_datetime(total['연월'], format= '%Y%m')
total['year'] = total['date'].dt.year
total['month'] = total['date'].dt.month
total[:3]

       연월  업종명 이용자구분    성별  이용자수   이용건수       date  year  month
0  202201  여관업    법인  알수없음  7693  12105 2022-01-01  2022      1
1  202201  여관업  제주도민    남성  3990   4291 2022-01-01  2022      1
2  202201  여관업  제주도민    여성  1495   1620 2022-01-01  2022      1

In [412]:
# total.month.value_counts()

In [413]:
# 회귀모델에서는 날짜타입을 훈련시키지 못하고 에러가 남
# 12까지의 주기성을 지니는 월을 원핫인코딩 하는 것도 괜찮다
total = total.drop(['연월', 'date'], axis=1) 
total[:1]

   업종명 이용자구분    성별  이용자수   이용건수  year  month
0  여관업    법인  알수없음  7693  12105  2022      1

### 범주형 원핫인코딩

In [414]:
# total_l = total[[col for col in total.columns if total[col].dtypes == 'object']]
total_l = total.select_dtypes(include='object')
total_l[:1]

   업종명 이용자구분    성별
0  여관업    법인  알수없음

In [415]:
total_l.nunique()

업종명      15
이용자구분     7
성별        3
dtype: int64

In [418]:
total_dm = pd.get_dummies(total, columns=total_l.columns)
total_dm

,이용자수,이용건수,year,month,업종명_건강보조식품 소매업,업종명_기타 대형 종합 소매업,업종명_면세점,업종명_비알콜 음료점업,업종명_빵 및 과자류 소매업,업종명_서양식 음식점업,...,이용자구분_기타외국,이용자구분_내국인,이용자구분_동남아,이용자구분_법인,이용자구분_일본,이용자구분_제주도민,이용자구분_중국,성별_남성,성별_알수없음,성별_여성
0,7693,12105,2022,1,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
1,3990,4291,2022,1,False,False,False,False,False,False,...,False,False,False,False,False,True,False,True,False,False
2,1495,1620,2022,1,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
3,16299,18588,2022,1,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False
4,17350,19922,2022,1,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7260,41655,46563,2021,8,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,True
7261,1967,2116,2020,8,False,False,False,False,False,False,...,False,False,False,False,False,True,False,True,False,False
7262,182961,212196,2018,5,False,False,False,False,False,False,...,False,False,False,False,False,True,False,True,False,False
7263,5879,7987,2018,10,False,False,True,False,False,False,...,False,False,False,False,False,True,False,True,False,False
7264,16706,18570,2020,6,False,False,False,False,False,True,...,False,False,False,True,False,False,False,False,True,False

### 수치형 스케일링

In [419]:
train = total_dm.iloc[:len(train)]
test = total_dm.iloc[len(train):]
train.shape
test.shape
train.dtypes
test.dtypes

(2245, 29)

(5020, 29)

이용자수                           int64
이용건수                           int64
year                           int32
month                          int32
업종명_건강보조식품 소매업                  bool
업종명_기타 대형 종합 소매업                bool
업종명_면세점                         bool
업종명_비알콜 음료점업                    bool
업종명_빵 및 과자류 소매업                 bool
업종명_서양식 음식점업                    bool
업종명_슈퍼마켓                        bool
업종명_스포츠 및 레크레이션 용품 임대업          bool
업종명_여관업                         bool
업종명_전시 및 행사 대행업                 bool
업종명_체인화 편의점                     bool
업종명_피자, 햄버거, 샌드위치 및 유사 음식점업     bool
업종명_한식 음식점업                     bool
업종명_호텔업                         bool
업종명_화장품 및 방향제 소매업               bool
이용자구분_기타외국                      bool
이용자구분_내국인                       bool
이용자구분_동남아                       bool
이용자구분_법인                        bool
이용자구분_일본                        bool
이용자구분_제주도민                      bool
이용자구분_중국                        bool
성별_남성                           bool
성별_알수없음                         bool
성별_여성                           bool
dtype: object

이용자수                           int64
이용건수                           int64
year                           int32
month                          int32
업종명_건강보조식품 소매업                  bool
업종명_기타 대형 종합 소매업                bool
업종명_면세점                         bool
업종명_비알콜 음료점업                    bool
업종명_빵 및 과자류 소매업                 bool
업종명_서양식 음식점업                    bool
업종명_슈퍼마켓                        bool
업종명_스포츠 및 레크레이션 용품 임대업          bool
업종명_여관업                         bool
업종명_전시 및 행사 대행업                 bool
업종명_체인화 편의점                     bool
업종명_피자, 햄버거, 샌드위치 및 유사 음식점업     bool
업종명_한식 음식점업                     bool
업종명_호텔업                         bool
업종명_화장품 및 방향제 소매업               bool
이용자구분_기타외국                      bool
이용자구분_내국인                       bool
이용자구분_동남아                       bool
이용자구분_법인                        bool
이용자구분_일본                        bool
이용자구분_제주도민                      bool
이용자구분_중국                        bool
성별_남성                           bool
성별_알수없음                         bool
성별_여성                           bool
dtype: object

In [420]:
# train_n = train.select_dtypes(include='number')
# 년과 월은 스케일링이 불필요, number 대신 int64 로 변경
# train_n = train.select_dtypes(include='int64')
# 성능평가 결과 말도 안되는 수치 -> 날짜도 스케일링, 연월 구분없이 진행 or 원본 연월 그대로 살려서 진행
# (mean_squared_error(y_val, pred))**0.5 # 169841133.74905077
train_n = train.select_dtypes(include='number')
train_n[:1]
test_n = test.select_dtypes(include='number')
test_n[:1]

   이용자수   이용건수  year  month
0  7693  12105  2022      1

        이용자수    이용건수  year  month
2245  153363  163462  2019     11

In [338]:
# help(MinMaxScaler())

In [421]:
mms = MinMaxScaler()
train.loc[:, train_n.columns] = mms.fit_transform(train[train_n.columns])
train
test.loc[:, test_n.columns] = mms.transform(test[test_n.columns])
test

,이용자수,이용건수,year,month,업종명_건강보조식품 소매업,업종명_기타 대형 종합 소매업,업종명_면세점,업종명_비알콜 음료점업,업종명_빵 및 과자류 소매업,업종명_서양식 음식점업,...,이용자구분_기타외국,이용자구분_내국인,이용자구분_동남아,이용자구분_법인,이용자구분_일본,이용자구분_제주도민,이용자구분_중국,성별_남성,성별_알수없음,성별_여성
0,0.017803,0.023309,0,0.000000,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
1,0.009211,0.008238,0,0.000000,False,False,False,False,False,False,...,False,False,False,False,False,True,False,True,False,False
2,0.003422,0.003086,0,0.000000,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
3,0.037770,0.035813,0,0.000000,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False
4,0.040208,0.038386,0,0.000000,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240,0.000084,0.000091,1,0.818182,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
2241,0.001086,0.000966,1,0.818182,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
2242,0.003012,0.002681,1,0.818182,False,False,False,False,False,False,...,False,False,False,False,False,True,False,True,False,False
2243,0.006012,0.005358,1,0.818182,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
2244,0.000346,0.000357,1,0.818182,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False

,이용자수,이용건수,year,month,업종명_건강보조식품 소매업,업종명_기타 대형 종합 소매업,업종명_면세점,업종명_비알콜 음료점업,업종명_빵 및 과자류 소매업,업종명_서양식 음식점업,...,이용자구분_기타외국,이용자구분_내국인,이용자구분_동남아,이용자구분_법인,이용자구분_일본,이용자구분_제주도민,이용자구분_중국,성별_남성,성별_알수없음,성별_여성
2245,0.355779,0.315237,-3,0.909091,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
2246,0.000269,0.000239,1,0.363636,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
2247,0.000014,0.000012,0,0.636364,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2248,0.000146,0.000129,-2,0.818182,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,True,False
2249,0.000016,0.000029,1,0.181818,False,False,False,False,True,False,...,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7260,0.096600,0.089769,-1,0.636364,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,True
7261,0.004517,0.004043,-2,0.636364,False,False,False,False,False,False,...,False,False,False,False,False,True,False,True,False,False
7262,0.424451,0.409232,-4,0.363636,False,False,False,False,False,False,...,False,False,False,False,False,True,False,True,False,False
7263,0.013594,0.015366,-4,0.818182,False,False,True,False,False,False,...,False,False,False,False,False,True,False,True,False,False
7264,0.038714,0.035778,-2,0.454545,False,False,False,False,False,True,...,False,False,False,True,False,False,False,False,True,False

In [422]:
# train 과 test 컬럼 확인
train_n.columns.equals(test_n.columns)

True

In [423]:
train[:1]
test[:1]

,이용자수,이용건수,year,month,업종명_건강보조식품 소매업,업종명_기타 대형 종합 소매업,업종명_면세점,업종명_비알콜 음료점업,업종명_빵 및 과자류 소매업,업종명_서양식 음식점업,...,이용자구분_기타외국,이용자구분_내국인,이용자구분_동남아,이용자구분_법인,이용자구분_일본,이용자구분_제주도민,이용자구분_중국,성별_남성,성별_알수없음,성별_여성
0,0.017803,0.023309,0,0.0,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False

,이용자수,이용건수,year,month,업종명_건강보조식품 소매업,업종명_기타 대형 종합 소매업,업종명_면세점,업종명_비알콜 음료점업,업종명_빵 및 과자류 소매업,업종명_서양식 음식점업,...,이용자구분_기타외국,이용자구분_내국인,이용자구분_동남아,이용자구분_법인,이용자구분_일본,이용자구분_제주도민,이용자구분_중국,성별_남성,성별_알수없음,성별_여성
2245,0.355779,0.315237,-3,0.909091,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True

## 훈련 및 성능평가

In [424]:
x_train, x_val, y_train, y_val = train_test_split(train, target, test_size= 0.25, random_state=42)
x_train.shape
y_train.shape
x_val.shape
y_val.shape

(1683, 29)

(1683,)

(562, 29)

(562,)

In [425]:
rr = RandomForestRegressor()
model = rr.fit(x_train, y_train)
model

RandomForestRegressor()

In [426]:
pred = model.predict(x_val)
pred

array([1.03321197e+09, 1.71961048e+08, 4.62603998e+08, 4.11286769e+08,
       6.33174417e+08, 5.88308712e+08, 6.84582696e+09, 1.09349380e+06,
       1.43829820e+06, 7.60687030e+08, 1.92628092e+06, 1.98608610e+06,
       1.48750934e+08, 9.26152993e+09, 2.94459308e+09, 8.28811133e+07,
       7.38028100e+05, 2.45933009e+07, 7.24946315e+08, 2.21618958e+08,
       9.67950708e+07, 3.09071634e+08, 9.04391875e+08, 1.33365185e+09,
       9.26871386e+08, 1.97723967e+09, 4.74112311e+07, 4.72719666e+09,
       3.48230813e+08, 4.00490950e+06, 7.55265522e+08, 5.01587213e+09,
       4.72259335e+08, 7.44735013e+08, 1.67522346e+09, 3.59041159e+09,
       5.96809029e+07, 2.97253642e+08, 1.45937841e+09, 3.30822469e+09,
       5.78959210e+08, 1.59776388e+08, 2.75520787e+08, 1.03751481e+09,
       2.29828466e+07, 5.35592774e+08, 2.01772270e+08, 1.80046798e+08,
       3.36502808e+08, 6.48260879e+07, 3.58704036e+09, 6.57505679e+07,
       5.79011824e+08, 3.60730885e+08, 3.42317800e+05, 3.08648664e+08,
       1.28801990e+08, 5.33145311e+09, 6.99464653e+07, 5.11170278e+08,
       1.16983850e+09, 6.38509500e+05, 9.95096100e+06, 1.16958870e+06,
       5.00466872e+08, 1.22360148e+08, 8.01183568e+07, 1.06956222e+09,
       7.05020611e+08, 1.30876882e+09, 5.20002115e+09, 1.86145861e+08,
       1.02489484e+10, 7.38078706e+06, 2.30022486e+06, 5.69223807e+07,
       1.21963099e+08, 1.10657046e+09, 1.12917276e+09, 5.41872617e+08,
       1.00407886e+08, 7.57936900e+05, 1.00416253e+09, 1.80204025e+09,
       7.96095564e+08, 1.51280121e+08, 7.82896462e+08, 9.34060765e+07,
       4.33436404e+08, 1.58753136e+09, 2.63967218e+08, 8.40879791e+08,
       7.03262900e+05, 2.92545536e+08, 2.65923070e+06, 1.54602806e+06,
       6.75411800e+06, 1.21458368e+08, 6.01208967e+07, 8.52732400e+08,
       1.38716456e+08, 1.01011079e+09, 1.91544306e+08, 3.63697175e+08,
       4.92089563e+08, 1.76873321e+09, 1.44231700e+06, 5.06873672e+07,
       2.27672503e+06, 1.41125827e+08, 2.13738838e+07, 6.69400322e+09,
       3.08743777e+08, 8.15244537e+07, 7.19526864e+08, 2.72223742e+09,
       4.70404692e+08, 4.40047801e+08, 2.53759304e+08, 9.69049604e+08,
       5.39288231e+08, 2.48428099e+08, 3.07972542e+08, 5.06876062e+07,
       7.42883822e+08, 2.87972317e+07, 1.61859779e+09, 3.04495072e+07,
       1.79692796e+09, 2.72631706e+08, 1.54301488e+07, 1.20293429e+09,
       1.53916741e+09, 1.16652657e+07, 5.05023402e+08, 1.26033800e+09,
       3.37269062e+08, 6.87962874e+07, 1.32511533e+09, 4.38976083e+08,
       2.36627551e+06, 7.51340654e+08, 2.99050226e+07, 1.01565764e+09,
       1.94253064e+08, 2.00755192e+08, 1.19422781e+09, 1.16443460e+06,
       4.89602164e+09, 2.06186609e+08, 6.30824726e+07, 1.69387300e+06,
       3.43792477e+08, 2.50015365e+06, 3.35971948e+08, 8.45544000e+05,
       2.76579698e+08, 1.59689851e+09, 3.47946687e+09, 4.54738037e+07,
       4.45840184e+08, 1.52632367e+08, 2.77089999e+07, 3.12931074e+08,
       1.40183532e+07, 4.72597810e+09, 6.51934680e+07, 1.54671080e+08,
       5.37654816e+09, 5.03609530e+09, 4.40457049e+09, 1.19313756e+08,
       3.18121336e+09, 4.72507387e+09, 1.02095571e+09, 4.61476817e+07,
       4.25538540e+08, 7.70833773e+08, 4.25474386e+07, 3.98074040e+07,
       3.78711664e+07, 5.22606243e+08, 1.26568100e+06, 5.15400710e+08,
       3.94287187e+07, 9.10340164e+06, 3.30646843e+06, 1.95256139e+08,
       2.32625026e+08, 4.53307500e+05, 1.96456146e+07, 7.95477095e+07,
       2.80622980e+08, 3.71513199e+09, 6.00440034e+08, 2.17520170e+08,
       4.79366201e+08, 2.01246816e+06, 1.53983485e+08, 6.16054558e+08,
       2.59329104e+07, 4.06457004e+09, 4.52741245e+08, 4.20245213e+08,
       1.00651037e+09, 9.07394600e+06, 1.50324333e+09, 8.09374451e+09,
       7.76084514e+08, 8.73008498e+08, 1.75195477e+09, 2.04308506e+09,
       2.42653639e+08, 5.07789814e+08, 3.91137052e+09, 2.94116231e+06,
       1.08343215e+09, 1.62292547e+09, 2.34407189e+08, 1.55701936e+08,
       5.97327530e+08, 2.25348539e+08, 8.26248566e+08, 9.56898875e+08,
       1.03847238e+09, 2.12175067e+06, 3.35088661e+09, 1.01185653e+09,
       2.81176440e+08, 9.45934038e+07, 3.69905657e+08, 3.72409321e+06,
       8.16430883e+09, 1.58121396e+08, 5.80617747e+08, 3.79138144e+09,
       2.73078233e+08, 2.96812311e+07, 5.22495509e+09, 9.50328060e+08,
       3.48127971e+08, 3.37225832e+09, 5.99231780e+08, 4.16210058e+08,
       3.17688637e+08, 4.06617098e+08, 2.22619955e+07, 3.19267719e+08,
       2.29284591e+06, 7.03043600e+06, 1.11769921e+09, 1.27885522e+09,
       3.64414503e+07, 9.56930333e+07, 2.71964267e+08, 3.69748244e+08,
       8.73820000e+05, 5.50071391e+07, 3.50012668e+08, 4.92382885e+07,
       5.69747350e+07, 5.09999872e+09, 5.83421490e+08, 1.90150119e+09,
       8.10213622e+08, 3.30417688e+06, 1.93217759e+09, 3.44093489e+06,
       5.35056441e+07, 3.91566923e+07, 4.68775485e+08, 5.19914520e+08,
       4.18526554e+08, 3.38184000e+05, 4.79175955e+09, 3.96247499e+06,
       3.43214414e+08, 1.09141522e+09, 2.06479747e+09, 3.08174406e+09,
       5.63411185e+08, 1.11276632e+09, 4.17327800e+05, 4.60565739e+08,
       8.47822753e+07, 2.77704696e+08, 2.75385476e+08, 2.13170380e+09,
       3.01390576e+09, 7.35726747e+08, 5.93105564e+08, 1.18329341e+09,
       2.43968411e+07, 3.27562653e+07, 1.31240950e+06, 2.01134587e+08,
       1.79879910e+06, 4.22156526e+08, 3.16316107e+08, 8.58052843e+08,
       1.15935736e+09, 1.77833476e+06, 4.36950325e+08, 8.65740151e+08,
       2.48355758e+08, 1.15246722e+08, 2.45855146e+08, 4.34809579e+08,
       1.03180156e+06, 6.98716997e+08, 8.65779935e+09, 8.56124093e+07,
       1.72423608e+06, 1.57831295e+09, 4.50737414e+09, 1.35467625e+08,
       1.22518013e+08, 1.13170539e+08, 1.77930887e+09, 4.86950455e+07,
       1.37618515e+09, 3.89525348e+08, 3.39838218e+08, 8.97925060e+05,
       1.59430425e+09, 9.68054637e+07, 9.76260500e+05, 6.49874432e+08,
       6.73263312e+08, 1.00064636e+08, 6.17500583e+07, 4.29647669e+08,
       5.37486121e+09, 1.08198959e+09, 5.58052709e+07, 6.92262779e+08,
       4.66618702e+08, 1.12777095e+07, 8.04512572e+06, 5.40337158e+09,
       1.69359577e+07, 4.08185733e+08, 3.48976703e+07, 6.32815904e+08,
       4.56577486e+09, 3.82766878e+09, 1.90995530e+06, 8.91487483e+09,
       4.48828027e+07, 1.05531527e+08, 6.39472813e+08, 9.56122559e+07,
       1.13465921e+08, 1.14143770e+06, 8.45857316e+09, 2.83518264e+07,
       7.91879527e+08, 2.94643275e+09, 7.21587439e+06, 1.46934778e+07,
       4.29675252e+08, 2.02612682e+06, 9.15063720e+06, 1.29512790e+09,
       9.75484055e+08, 1.46130821e+09, 7.06427466e+07, 7.72669350e+06,
       8.78373109e+08, 1.41805985e+09, 1.34927901e+07, 4.62386164e+07,
       9.79739997e+09, 5.41505845e+07, 5.43754345e+08, 3.84770934e+08,
       4.61935170e+09, 3.87034400e+05, 4.58758008e+08, 3.40168742e+08,
       7.79340363e+08, 9.37502202e+07, 9.38050899e+07, 8.13286452e+08,
       3.24966084e+08, 1.08913672e+08, 1.02981379e+07, 1.98322970e+08,
       1.72340155e+09, 1.27859694e+09, 4.38666602e+08, 5.53644730e+08,
       9.71807269e+09, 4.53797854e+08, 7.05397200e+05, 7.57613853e+08,
       2.23387643e+08, 1.98780774e+08, 1.30100778e+09, 3.35588124e+08,
       5.36635096e+09, 4.32985464e+08, 6.88342230e+06, 1.91421976e+09,
       9.48029317e+06, 5.19718299e+09, 5.29253744e+08, 3.02890673e+08,
       5.12974328e+08, 1.50358308e+09, 3.26745394e+07, 4.94297600e+06,
       1.63211008e+09, 3.37077800e+05, 3.28673135e+09, 1.33482776e+07,
       3.38073900e+08, 9.20813627e+07, 7.89061800e+06, 1.70831570e+08,
       6.00654832e+08, 4.23353271e+08, 1.20652772e+06, 1.09413980e+09,
       1.43179149e+09, 7.57156382e+07, 2.09092650e+09, 1.12262559e+09,
       1.04739854e+09, 6.53133399e+07, 1.92397783e+09, 4.74895849e+09,
       5.45440274e+07, 1.70638024e+07, 2.17153932e+08, 7.90503174e+07,
       2.54150523e+09, 1.48070062e+08, 1.37911741e+08, 8.61109152e+08,
       1.52567000e+07, 8.75364244e+07, 2.32328742e+06, 1.29382469e+09,
       6.12144918e+07, 3.45102568e+09, 3.58822045e+09, 1.85448743e+08,
       3.41349300e+05, 2.20977437e+07, 8.22638862e+08, 1.59751057e+07,
       1.22988429e+08, 3.41834400e+06, 8.09922131e+08, 3.71288092e+08,
       6.87924492e+07, 8.43911680e+08, 2.55377427e+08, 4.09285494e+08,
       4.49349413e+08, 6.65445283e+07, 3.81170800e+05, 7.80235300e+08,
       2.09091112e+09, 5.35226774e+09, 8.23038897e+07, 4.47129081e+08,
       2.91267920e+08, 1.00805270e+09, 6.26286120e+06, 8.62720885e+08,
       1.04332661e+09, 1.68519725e+09, 7.80371328e+06, 5.25544153e+07,
       7.52350698e+07, 5.89295776e+07, 1.22377075e+07, 4.10861100e+05,
       7.97097070e+06, 1.63950208e+09, 5.87127644e+07, 7.29662909e+08,
       5.26632048e+08, 5.19017607e+08, 8.59212515e+08, 3.35028260e+07,
       1.05586602e+08, 8.84503155e+08, 4.66787853e+07, 4.89305742e+07,
       3.34486394e+09, 1.44956384e+08, 4.90282055e+08, 6.50609958e+06,
       7.19886706e+08, 3.86639407e+06, 6.84023011e+07, 4.27992318e+06,
       2.57364205e+08, 5.50662900e+06, 1.96746568e+08, 7.72507600e+05,
       2.85122285e+08, 1.55813560e+06, 1.90937651e+08, 5.58536768e+08,
       9.61279975e+08, 5.85643044e+08, 4.89113482e+08, 1.30322383e+09,
       4.79259170e+09, 8.05240604e+08, 6.31338568e+09, 5.01944434e+07,
       1.74581478e+09, 2.02606599e+08, 1.96091627e+08, 5.97148864e+07,
       1.36257684e+07, 2.88647577e+08, 5.87574560e+08, 3.53378966e+07,
       1.44704483e+09, 4.82799397e+08, 8.42296599e+08, 2.04155776e+06,
       6.73866874e+08, 1.04489710e+06, 3.41164500e+05, 2.86737722e+08,
       5.20921321e+08, 8.55263488e+07, 3.51991707e+06, 4.02458652e+06,
       1.08404475e+09, 4.74282680e+06, 7.30717296e+08, 6.69007253e+09,
       7.30929199e+08, 1.61561619e+08, 1.80919308e+08, 7.67489392e+08,
       2.06998516e+08, 1.08817574e+08, 8.93192942e+07, 3.06770784e+08,
       2.68962042e+08, 4.61977592e+08, 5.03418638e+09, 6.16437495e+08,
       9.36825533e+08, 8.43454687e+07, 1.78375084e+09, 4.56379788e+09,
       2.97701690e+08, 2.55586310e+06, 2.50398911e+06, 3.54306782e+09,
       1.74022639e+08, 8.49456475e+08])

In [427]:
(mean_squared_error(y_val, pred))**0.5 
# 날짜 스케일링 x : 169841133.74905077
# 날짜 스케일링 o : 157082306.65002885
# 큰 차이가 없음

157082306.65002885

In [429]:
np.sqrt(mean_squared_error(y_val,pred))

157082306.65002885

In [433]:
pred_r = model.predict(test)
pred_r

array([6.50240326e+09, 3.81511436e+07, 2.37826600e+06, ...,
       5.50897483e+09, 9.92057473e+08, 7.81024908e+08])

In [434]:
result = pd.DataFrame({'Pred': pred_r})
result

              Pred
0     6.502403e+09
1     3.815114e+07
2     2.378266e+06
3     2.138964e+06
4     5.631655e+05
...            ...
5015  4.552401e+08
5016  1.121430e+08
5017  5.508975e+09
5018  9.920575e+08
5019  7.810249e+08

[5020 rows x 1 columns]

In [439]:
result.to_csv('250619_0500_test_7_case_2.csv', index=False, float_format='%.3f')

In [440]:
result_r = pd.read_csv('250619_0500_test_7_case_2.csv')
result_r

              Pred
0     6.502403e+09
1     3.815114e+07
2     2.378266e+06
3     2.138964e+06
4     5.631655e+05
...            ...
5015  4.552401e+08
5016  1.121430e+08
5017  5.508975e+09
5018  9.920575e+08
5019  7.810249e+08

[5020 rows x 1 columns]

# 3 유형

데이터url = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_1.csv  
종속변수 : Target

In [441]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_1.csv')
df.head()

,Target,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21
0,21.650072,0.496714,-0.138264,0.647689,1.523030,-0.234153,-0.234137,1.579213,0.767435,-0.469474,...,-0.465730,0.241962,-1.913280,-1.724918,-0.562288,-1.012831,0.314247,-0.908024,-1.412304,1.465649
1,-19.469855,-0.225776,0.067528,-1.424748,-0.544383,0.110923,-1.150994,0.375698,-0.600639,-0.291694,...,-0.013497,-1.057711,0.822545,-1.220844,0.208864,-1.959670,-1.328186,0.196861,0.738467,0.171368
2,-24.475600,-0.115648,-0.301104,-1.478522,-0.719844,-0.460639,1.057122,0.343618,-1.763040,0.324084,...,0.611676,1.031000,0.931280,-0.839218,-0.309212,0.331263,0.975545,-0.479174,-0.185659,-1.106335
3,13.476831,-1.196207,0.812526,1.356240,-0.072010,1.003533,0.361636,-0.645120,0.361396,1.538037,...,-2.619745,0.821903,0.087047,-0.299007,0.091761,-1.987569,-0.219672,0.357113,1.477894,-0.518270
4,3.505322,-0.808494,-0.501757,0.915402,0.328751,-0.529760,0.513267,0.097078,0.968645,-0.702053,...,-1.463515,0.296120,0.261055,0.005113,-0.234587,-1.415371,-0.420645,-0.342715,-0.802277,-0.161286

### 3-1) 선형관계 가장 큰 변수 찾아 상관계수를 구하여라

In [442]:
df.info()
df.nunique()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Target  1000 non-null   float64
 1   v1      1000 non-null   float64
 2   v2      1000 non-null   float64
 3   v3      1000 non-null   float64
 4   v4      1000 non-null   float64
 5   v5      1000 non-null   float64
 6   v6      1000 non-null   float64
 7   v7      1000 non-null   float64
 8   v8      1000 non-null   float64
 9   v9      1000 non-null   float64
 10  v10     1000 non-null   float64
 11  v11     1000 non-null   float64
 12  v12     1000 non-null   float64
 13  v13     1000 non-null   float64
 14  v14     1000 non-null   float64
 15  v15     1000 non-null   float64
 16  v16     1000 non-null   float64
 17  v17     1000 non-null   float64
 18  v18     1000 non-null   float64
 19  v19     1000 non-null   float64
 20  v20     1000 non-null   float64
 21  v21     1000 non-null   float64
dtypes: float64(22)
memory usage: 172.0 KB

Target    1000
v1        1000
v2        1000
v3        1000
v4        1000
v5        1000
v6        1000
v7        1000
v8        1000
v9        1000
v10       1000
v11       1000
v12       1000
v13       1000
v14       1000
v15       1000
v16       1000
v17       1000
v18       1000
v19       1000
v20       1000
v21       1000
dtype: int64

Target    0
v1        0
v2        0
v3        0
v4        0
v5        0
v6        0
v7        0
v8        0
v9        0
v10       0
v11       0
v12       0
v13       0
v14       0
v15       0
v16       0
v17       0
v18       0
v19       0
v20       0
v21       0
dtype: int64

In [444]:
corr = df.corr(numeric_only=True)
corr

,Target,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21
Target,1.000000,0.345906,0.394673,0.627025,0.600548,0.168748,-0.052110,0.006809,-0.047399,0.038795,...,0.026284,-0.063199,-0.005186,0.051197,0.018492,-0.021494,-0.049140,0.015678,0.003682,0.019341
v1,0.345906,1.000000,-0.006679,-0.027730,0.039456,0.033932,0.002483,0.039683,-0.000262,0.005830,...,-0.005303,-0.008099,0.001972,0.031513,-0.007170,0.024332,0.001006,-0.000026,0.012924,0.028488
v2,0.394673,-0.006679,1.000000,0.025234,-0.020531,-0.007442,-0.057053,0.007286,-0.039920,0.013396,...,0.006733,-0.044665,-0.019828,-0.017282,0.026597,-0.012460,-0.025139,0.048493,-0.041688,0.021148
v3,0.627025,-0.027730,0.025234,1.000000,0.055455,0.020185,-0.022996,0.012083,-0.050484,0.011455,...,0.026559,-0.043489,-0.047169,0.058914,0.047095,-0.031549,-0.039193,-0.005614,0.013462,0.020965
v4,0.600548,0.039456,-0.020531,0.055455,1.000000,0.051079,-0.033170,-0.033769,-0.003721,0.043769,...,0.016331,-0.017422,0.047978,0.031968,-0.027653,-0.009124,-0.030570,-0.009195,0.014653,-0.021334
v5,0.168748,0.033932,-0.007442,0.020185,0.051079,1.000000,0.004999,0.019317,-0.004764,0.008747,...,-0.004506,-0.054286,0.023956,-0.024609,-0.023163,-0.017162,0.001118,0.050700,-0.008804,0.004832
v6,-0.052110,0.002483,-0.057053,-0.022996,-0.033170,0.004999,1.000000,-0.037839,0.048545,-0.052628,...,-0.028101,0.029677,0.004951,-0.029354,0.026956,0.031031,-0.027922,0.008136,0.096886,-0.011795
v7,0.006809,0.039683,0.007286,0.012083,-0.033769,0.019317,-0.037839,1.000000,-0.033356,-0.063723,...,0.009278,0.041998,0.010402,0.036516,0.030326,0.001589,0.051156,-0.011653,-0.021369,0.035714
v8,-0.047399,-0.000262,-0.039920,-0.050484,-0.003721,-0.004764,0.048545,-0.033356,1.000000,0.056193,...,-0.009633,0.000417,0.013650,-0.003434,-0.054146,-0.046511,0.010625,-0.041049,-0.001137,-0.018867
v9,0.038795,0.005830,0.013396,0.011455,0.043769,0.008747,-0.052628,-0.063723,0.056193,1.000000,...,-0.034809,-0.022484,0.098604,-0.032147,0.019978,-0.022534,0.010981,0.010749,0.043642,-0.025393
v10,-0.005766,-0.026377,0.003901,0.016569,-0.014504,-0.000367,-0.008113,-0.028760,0.007375,-0.049966,...,-0.041166,-0.057813,0.008073,0.024255,-0.015340,0.023727,-0.027609,-0.020504,-0.013931,0.027951
v11,-0.023574,-0.006949,0.000770,0.024388,-0.071257,0.022005,-0.013806,0.005110,0.002669,-0.050618,...,-0.027416,-0.006242,0.016242,0.009831,0.021254,-0.030699,0.010418,0.006651,-0.012132,0.028956
v12,0.026284,-0.005303,0.006733,0.026559,0.016331,-0.004506,-0.028101,0.009278,-0.009633,-0.034809,...,1.000000,-0.055670,0.024207,-0.026127,-0.039028,0.033384,0.018369,-0.023000,0.000686,0.028330
v13,-0.063199,-0.008099,-0.044665,-0.043489,-0.017422,-0.054286,0.029677,0.041998,0.000417,-0.022484,...,-0.055670,1.000000,-0.028607,-0.045629,0.019829,0.031695,0.018527,-0.027084,0.011666,0.032908
v14,-0.005186,0.001972,-0.019828,-0.047169,0.047978,0.023956,0.004951,0.010402,0.013650,0.098604,...,0.024207,-0.028607,1.000000,-0.000920,-0.023192,0.031634,-0.084331,-0.030680,-0.035382,0.016410
v15,0.051197,0.031513,-0.017282,0.058914,0.031968,-0.024609,-0.029354,0.036516,-0.003434,-0.032147,...,-0.026127,-0.045629,-0.000920,1.000000,0.000744,-0.031342,0.009539,-0.039737,0.010943,-0.052409
v16,0.018492,-0.007170,0.026597,0.047095,-0.027653,-0.023163,0.026956,0.030326,-0.054146,0.019978,...,-0.039028,0.019829,-0.023192,0.000744,1.000000,0.022512,0.038675,0.024934,0.022623,-0.068764
v17,-0.021494,0.024332,-0.012460,-0.031549,-0.009124,-0.017162,0.031031,0.001589,-0.046511,-0.022534,...,0.033384,0.031695,0.031634,-0.031342,0.022512,1.000000,-0.022537,-0.019566,-0.038700,-0.020911
v18,-0.049140,0.001006,-0.025139,-0.039193,-0.030570,0.001118,-0.027922,0.051156,0.010625,0.010981,...,0.018369,0.018527,-0.084331,0.009539,0.038675,-0.022537,1.000000,-0.007328,0.030491,0.014962
v19,0.015678,-0.000026,0.048493,-0.005614,-0.009195,0.050700,0.008136,-0.011653,-0.041049,0.010749,...,-0.023000,-0.027084,-0.030680,-0.039737,0.024934,-0.019566,-0.007328,1.000000,-0.052992,-0.045475
v20,0.003682,0.012924,-0.041688,0.013462,0.014653,-0.008804,0.096886,-0.021369,-0.001137,0.043642,...,0.000686,0.011666,-0.035382,0.010943,0.022623,-0.038700,0.030491,-0.052992,1.000000,-0.042118
v21,0.019341,0.028488,0.021148,0.020965,-0.021334,0.004832,-0.011795,0.035714,-0.018867,-0.025393,...,0.028330,0.032908,0.016410,-0.052409,-0.068764,-0.020911,0.014962,-0.045475,-0.042118,1.000000

In [448]:
t_corr = corr['Target'].drop('Target').abs()
t_corr
t_corr.idxmax()

v1     0.345906
v2     0.394673
v3     0.627025
v4     0.600548
v5     0.168748
v6     0.052110
v7     0.006809
v8     0.047399
v9     0.038795
v10    0.005766
v11    0.023574
v12    0.026284
v13    0.063199
v14    0.005186
v15    0.051197
v16    0.018492
v17    0.021494
v18    0.049140
v19    0.015678
v20    0.003682
v21    0.019341
Name: Target, dtype: float64

'v3'

In [449]:
corr.loc['Target', t_corr.idxmax()]

0.6270251925517436

### 3-2) Target 변수를 종속변수로 하여 다중선형회귀모델링을 진행했을 때 v2 컬럼의 회귀 계수는?

In [457]:
# import scipy
# dir(scipy.stats)

In [465]:
import statsmodels.api as sm
# dir(statsmodels)

In [466]:
X = df.drop('Target', axis=1)
y = df['Target']
X = sm.add_constant(X)

In [472]:
model = sm.OLS(y, X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Target   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 5.228e+04
Date:                Thu, 19 Jun 2025   Prob (F-statistic):               0.00
Time:                        05:54:16   Log-Likelihood:                -707.67
No. Observations:                1000   AIC:                             1459.
Df Residuals:                     978   BIC:                             1567.
Df Model:                          21
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0118      0.016      0.739      0.460      -0.019       0.043
v1             5.5360      0.016    353.805      0.000       5.505       5.567
v2             6.4403      0.016    410.550      0.000       6.410       6.471
v3             9.6506      0.016    614.757      0.000       9.620       9.681
v4             8.9758      0.016    576.776      0.000       8.945       9.006
v5             1.9523      0.016    124.711      0.000       1.922       1.983
v6             0.0145      0.016      0.899      0.369      -0.017       0.046
v7            -0.0023      0.016     -0.140      0.888      -0.034       0.029
v8             0.0173      0.016      1.096      0.274      -0.014       0.048
v9            -0.0123      0.016     -0.781      0.435      -0.043       0.019
v10           -0.0019      0.016     -0.117      0.906      -0.033       0.030
v11            0.0171      0.016      1.099      0.272      -0.013       0.048
v12            0.0161      0.016      1.018      0.309      -0.015       0.047
v13           -0.0167      0.016     -1.058      0.290      -0.048       0.014
v14            0.0068      0.016      0.412      0.681      -0.026       0.039
v15           -0.0432      0.017     -2.605      0.009      -0.076      -0.011
v16            0.0117      0.016      0.749      0.454      -0.019       0.043
v17            0.0156      0.015      1.012      0.312      -0.015       0.046
v18            0.0100      0.016      0.628      0.530      -0.021       0.041
v19           -0.0174      0.016     -1.119      0.263      -0.048       0.013
v20            0.0098      0.015      0.637      0.524      -0.020       0.040
v21            0.0015      0.016      0.092      0.927      -0.030       0.033
==============================================================================
Omnibus:                        4.701   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.095   Jarque-Bera (JB):                4.745
Skew:                          -0.167   Prob(JB):                       0.0932
Kurtosis:                       2.955   Cond. No.                         1.32
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [479]:
# dir(model)

In [478]:
model.params['v2']

6.440301364843059

### 3-3) 회귀 계수들이 가지는 p값들 중 최대 값은?

In [482]:
model.pvalues.max()

0.9265545986907169

데이터 출처 : uci머신러닝 데이터  
url : https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_t.csv  
심장병 발병 예측  
종속변수 target (1: 발병)  
train 데이터는 앞의 210개 행을,  
test 데이터는 나머지 부분을 사용한다

In [483]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_t.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

### 3-4) train 데이터로 target을 종속변수로 로지스틱 회귀를 진행할 때 age 컬럼의 오즈비를 구하여라

In [484]:
df.info()
df.nunique()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       297 non-null    float64
 1   sex       297 non-null    float64
 2   cp        297 non-null    float64
 3   trestbps  297 non-null    float64
 4   chol      297 non-null    float64
 5   fbs       297 non-null    float64
 6   restecg   297 non-null    float64
 7   thalach   297 non-null    float64
 8   exang     297 non-null    float64
 9   oldpeak   297 non-null    float64
 10  slope     297 non-null    float64
 11  ca        297 non-null    float64
 12  thal      297 non-null    float64
 13  target    297 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 32.6 KB

age          41
sex           2
cp            4
trestbps     50
chol        152
fbs           2
restecg       3
thalach      91
exang         2
oldpeak      40
slope         3
ca            4
thal          3
target        2
dtype: int64

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [491]:
y = df['target']
X = df.drop('target', axis=1)
y
X

0      0
1      1
2      1
3      0
4      0
      ..
292    1
293    1
294    1
295    1
296    1
Name: target, Length: 297, dtype: int64

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,57.0,0.0,4.0,140.0,241.0,0.0,0.0,123.0,1.0,0.2,2.0,0.0,7.0
293,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0
294,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0
295,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0
296,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0

In [497]:
import statsmodels.api as sm

model = sm.Logit(y, X).fit()
model

Optimization terminated successfully.
         Current function value: 0.343347
         Iterations 7

In [503]:
dir(model)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_cache',
 '_data_attr',
 '_data_in_cache',
 '_get_endog_name',
 '_get_robustcov_results',
 '_get_wald_nonlinear',
 '_transform_predict_exog',
 '_use_t',
 'aic',
 'bic',
 'bse',
 'conf_int',
 'converged',
 'cov_kwds',
 'cov_params',
 'cov_type',
 'df_model',
 'df_resid',
 'f_test',
 'fittedvalues',
 'get_distribution',
 'get_influence',
 'get_margeff',
 'get_prediction',
 'im_ratio',
 'info_criteria',
 'initialize',
 'k_constant',
 'llf',
 'llnull',
 'llr',
 'llr_pvalue',
 'load',
 'method',
 'mle_retvals',
 'mle_settings',
 'model',
 'nobs',
 'normalized_cov_params',
 'params',
 'pred_table',
 'predict',
 'prsquared',
 'pvalues',
 'remove_data',
 'resid_dev',
 'resid_generalized',
 'resid_pearson',
 'resid_response',
 'save',
 'scale',
 'score_test',
 'set_null_options',
 'summary',
 'summary2',
 't_test',
 't_test_pairwise',
 'tvalues',
 'use_t',
 'wald_test',
 'wald_test_terms']

In [504]:
model.params

age        -0.044780
sex         1.107536
cp          0.549951
trestbps    0.017625
chol        0.004279
fbs        -0.897680
restecg     0.369390
thalach    -0.046972
exang       0.879231
oldpeak     0.351200
slope       0.203404
ca          0.957170
thal        0.328507
dtype: float64

In [505]:
model.params['age']

-0.04477993719934432

In [506]:
np.exp(model.params['age'])

0.9562078844664191

In [496]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

train = df.iloc[:210].reset_index(drop=True)
test = df.iloc[210:].reset_index(drop=True)

# 종속변수와 독립변수 설정
X = train.drop('target', axis=1)
y = train['target']

# 로지스틱 회귀모형 적합
model = sm.Logit(y, X).fit()


# age의 weight 오즈비 계산
odds_ratios = np.exp(model.params['age'])
odds_ratios

Optimization terminated successfully.
         Current function value: 0.343347
         Iterations 7

0.9562078844664191

### 3-5) train으로 로지스틱 회귀 진행했을 경우 잔차 이탈도 (residual deviance)를 계산하라

In [522]:
import pandas as pd
import statsmodels.api as sm

X = train.drop('target', axis=1)
y = train['target']
X = sm.add_constant(X)

# 로지스틱 회귀 모델 피팅
model2 = sm.GLM(y, X, family=sm.families.Binomial())
result2 = model2.fit()

# 잔차 이탈도 출력
print('Residual Deviance:', result2.deviance)

Residual Deviance: 134.49903911342716

In [524]:
# help(sm.GLM)

In [518]:
import statsmodels.api as sm

X = train.drop(columns='target')
y = train['target']
X = sm.add_constant(X)

model3 = sm.GLM(y, X, family= sm.families.Binomial()).fit()
model3.summary()

model3.deviance

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  210
Model:                            GLM   Df Residuals:                      196
Model Family:                Binomial   Df Model:                           13
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -67.250
Date:                Thu, 19 Jun 2025   Deviance:                       134.50
Time:                        06:18:39   Pearson chi2:                     183.
No. Iterations:                     6   Pseudo R-squ. (CS):             0.5213
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -10.7525      3.655     -2.942      0.003     -17.917      -3.588
age           -0.0056      0.030     -0.184      0.854      -0.065       0.054
sex            1.5477      0.666      2.323      0.020       0.242       2.853
cp             0.8332      0.259      3.215      0.001       0.325       1.341
trestbps       0.0320      0.014      2.356      0.018       0.005       0.059
chol           0.0068      0.005      1.448      0.148      -0.002       0.016
fbs           -1.1463      0.655     -1.749      0.080      -2.431       0.138
restecg        0.3812      0.234      1.631      0.103      -0.077       0.839
thalach       -0.0207      0.014     -1.523      0.128      -0.047       0.006
exang          0.9930      0.494      2.010      0.044       0.025       1.961
oldpeak        0.3693      0.255      1.446      0.148      -0.131       0.870
slope          0.6106      0.439      1.390      0.165      -0.251       1.472
ca             0.9819      0.315      3.120      0.002       0.365       1.599
thal           0.3474      0.124      2.801      0.005       0.104       0.590
==============================================================================
"""

134.49903911342716

### 3-6) train으로 로지스틱 회귀 진행했을 경우 로짓 우도값을 도출하라

In [525]:
model3.llf

-67.24951955671358

## 3-7) test 데이터의 독립변수로 target 예측 후 오류율을 구하여라

In [534]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       297 non-null    float64
 1   sex       297 non-null    float64
 2   cp        297 non-null    float64
 3   trestbps  297 non-null    float64
 4   chol      297 non-null    float64
 5   fbs       297 non-null    float64
 6   restecg   297 non-null    float64
 7   thalach   297 non-null    float64
 8   exang     297 non-null    float64
 9   oldpeak   297 non-null    float64
 10  slope     297 non-null    float64
 11  ca        297 non-null    float64
 12  thal      297 non-null    float64
 13  target    297 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 32.6 KB

In [535]:
len(df) * 0.75 # 223

222.75

In [557]:
train = df[:223]
test = df[223:]
train
test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,54.0,0.0,3.0,108.0,267.0,0.0,2.0,167.0,0.0,0.0,1.0,0.0,3.0,0
219,39.0,0.0,3.0,94.0,199.0,0.0,0.0,179.0,0.0,0.0,1.0,0.0,3.0,0
220,53.0,1.0,4.0,123.0,282.0,0.0,0.0,95.0,1.0,2.0,2.0,2.0,7.0,1
221,63.0,0.0,4.0,108.0,269.0,0.0,0.0,169.0,1.0,1.8,2.0,2.0,3.0,1
222,34.0,0.0,2.0,118.0,210.0,0.0,0.0,192.0,0.0,0.7,1.0,0.0,3.0,0

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
223,47.0,1.0,4.0,112.0,204.0,0.0,0.0,143.0,0.0,0.1,1.0,0.0,3.0,0
224,67.0,0.0,3.0,152.0,277.0,0.0,0.0,172.0,0.0,0.0,1.0,1.0,3.0,0
225,54.0,1.0,4.0,110.0,206.0,0.0,2.0,108.0,1.0,0.0,2.0,1.0,3.0,1
226,66.0,1.0,4.0,112.0,212.0,0.0,2.0,132.0,1.0,0.1,1.0,1.0,3.0,1
227,52.0,0.0,3.0,136.0,196.0,0.0,2.0,169.0,0.0,0.1,2.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,57.0,0.0,4.0,140.0,241.0,0.0,0.0,123.0,1.0,0.2,2.0,0.0,7.0,1
293,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
294,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,1
295,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,1
296,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1

In [558]:
x_train = train.drop('target', axis=1)
x_test = test.drop('target', axis=1)
y_train = train['target']
y_test = test['target']

In [559]:
import statsmodels.api as sm
x_train = sm.add_constant(x_train)
x_test = sm.add_constant(x_test)

In [560]:
model = sm.GLM(y_train, x_train, family=sm.families.Binomial())
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  223
Model:                            GLM   Df Residuals:                      209
Model Family:                Binomial   Df Model:                           13
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -71.871
Date:                Thu, 19 Jun 2025   Deviance:                       143.74
Time:                        06:41:57   Pearson chi2:                     187.
No. Iterations:                     6   Pseudo R-squ. (CS):             0.5177
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -11.1328      3.543     -3.142      0.002     -18.077      -4.189
age           -0.0010      0.029     -0.033      0.974      -0.059       0.057
sex            1.6132      0.628      2.569      0.010       0.382       2.844
cp             0.8468      0.251      3.379      0.001       0.356       1.338
trestbps       0.0286      0.013      2.228      0.026       0.003       0.054
chol           0.0064      0.005      1.418      0.156      -0.002       0.015
fbs           -1.1325      0.641     -1.767      0.077      -2.389       0.124
restecg        0.3133      0.223      1.403      0.161      -0.124       0.751
thalach       -0.0163      0.013     -1.284      0.199      -0.041       0.009
exang          1.0695      0.475      2.251      0.024       0.138       2.001
oldpeak        0.3542      0.249      1.423      0.155      -0.134       0.842
slope          0.6093      0.431      1.412      0.158      -0.236       1.455
ca             1.0162      0.299      3.403      0.001       0.431       1.601
thal           0.3338      0.119      2.815      0.005       0.101       0.566
==============================================================================
"""

In [568]:
pred_proba = result.predict(x_test)
pred_proba

223    0.087353
224    0.062719
225    0.811233
226    0.640559
227    0.033437
         ...
292    0.609116
293    0.114785
294    0.925706
295    0.928506
296    0.038037
Length: 74, dtype: float64

In [573]:
pred =  (pred_proba >= 0.5)
pred
pred.astype('int')

223    False
224    False
225     True
226     True
227    False
       ...
292     True
293    False
294     True
295     True
296    False
Length: 74, dtype: bool

223    0
224    0
225    1
226    1
227    0
      ..
292    1
293    0
294    1
295    1
296    0
Length: 74, dtype: int32

In [574]:
y_test

223    0
224    0
225    1
226    1
227    0
      ..
292    1
293    1
294    1
295    1
296    1
Name: target, Length: 74, dtype: int64

## 오류율 1 - ac p

In [578]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, pred)
acc # 정확도
1 - acc # 오류율

0.8108108108108109

0.18918918918918914